.app-header {
  background-color: #d8c8a3;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid #bfa66a;
}

.app-header h1 {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: #3a2d17;
}
